div.main {
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
    /*justify-content: flex-start;
    align-items: flex-start;*/
}


ul li {
    list-style-type: none;
    flex: auto;
    width: 50px;
}

img {
    width: 100%;
    height: auto;
}
