div.main {
    width: 70%;
    margin: 0 auto;
    padding: 0;
}

 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


ul li {
    list-style-type: none;
    height: 50px;
}

img{
    height: 50px;
}